X-build/directories
X-build/obj/
X-build/output/
3rdparty/*.tgz
3rdparty/*.tar.bz2
3rdparty/*.tar.gz
3rdparty/portaudio*
3rdparty/rtaudio*
3rdparty/unrarlib*
3rdparty/zlib*
Thumbs.db

windows-build/visual-studio-2015/Debug
windows-build/visual-studio-2015/Release
windows-build/visual-studio-2015/*.db
windows-build/visual-studio-2015/*.opendb

