/****************************************************************************


version.rc

produced by Borland Resource Workshop


*****************************************************************************/

